.full-ancho
	animation full-ancho cubic-bezier(.95,.09,.6,.95) 1s normal 1 forwards
	z-index 9999 !important
	
	

.hide-card
	animation hide-card cubic-bezier(.95,.09,.6,.95) 1s normal 1 forwards
	// position absolute !important
	// z-index 0
		

.inset-x-date
	transform translateX(0%)
	height 64rem


.offset-hidden
	offset hidden

.offset-x-container
	transform translateX(101%)