.full-ancho
	animation full-ancho cubic-bezier(.95,.09,.6,.95) 1s normal 1 forwards
	
	

.hide-card
	animation hide-card cubic-bezier(.95,.09,.6,.95) 1s normal 1 forwards
	// position absolute !important
	// z-index 0