a
	color $Azul
	position relative
	transitionBase(0.3s)

	&:after
		background-color darken($Azul, 40%)
		absolute bottom 0 left 0
		content " "
		display inline
		height 0.23rem
		width 0%
		transitionBase(0.3s)
	
	&:hover
		color darken($Azul, 40%)
		
		&:after
			width 100%
	

body
	background-color $GrisClaro
	color $Gris
	font-family $Mono
	font-weight $Light
	font-size 1.4rem
	
.side-botones
	height 25rem