.crear-marca, .agregar-marca, .mostrar-keyb
	display block
	margin 0 auto
	text-transform capitalize
	width 18rem
	

.agregar-marca, .mostrar-keyb
	font-size 1.8rem
	height  3rem
	// padding 0.5rem 0rem
	text-transform initial
	width 21rem
	
.disabled
	pointer-events none !important