.icon-detalle
	border 1px solid #fff
	display block
	height 6rem !important
	margin -3rem 95% 1rem
	width @height
	z-index 999
	
	i
		font-size 2.3rem !important
		line-height 5.7rem !important

.post
	background-color $Google
	height 26.6rem
	margin 0 auto
	overflow hidden
	position relative
	width @height
	

	img
		bottom 0
		height 100%
		left 0
		position relative
		right 0
		top 0
		width @height