.filtros
	
	.col
		float none !important
		display inline-block
		vertical-align middle
		

	.date
		span
			display inline-block
			margin-left 3%
			
		.datepicker
			width 60%
		
	.l3
		width 24% !important
		
	.light-blue
		display inline-block
		margin-left 2%