path
	&.line
		fill none
		stroke-width 1px

//map
#mapa
	height 14rem
	width 100%

//Pie
#pie
	height 14rem
	max-width 100%
	width 100%
	
	a
		display none !important
		
	tspan
		color #fff !important
		fill #fff !important

//WordCloud
#tagCloud
	#myCanvas
		height 13.5rem
		max-width 100%
		width 100%

//graficas timeline
.axis
	path, line
		fill none
		stroke #000
		shape-rendering crispEdges
.band
	fill none
	stroke-width 1px
	stroke red

.card, .col
	transition all cubic-bezier(.95,.09,.6,.95) 1s	
	transform-origin 50% 0
	
.descargar
	display block
	margin 0 auto

.generos
	height 100%
	// position relative
	// width 50%
	padding-bottom 36.3%
	
.gen
	// top 0
	// left 0
	// bottom 0
	// right 0
	// display inline-block
	// height 17rem
	// position absolute
	// vertical-align middle
	// width @height
	
	&-man
		clip-path url('#clipMan')
		-webkit-clip-path url('#clipMan')
		
	&-girl
		clip-path url('#clipGirl')
		-webkit-clip-path url('#clipGirl')
	
	.fill
		background-color $Azul
		bottom 0
		height 100%
		left 0
		position absolute
		right 0
		top 0
		width @height

.title
	font-size 1.5rem
	left 0
	position absolute


.row-numeros
	text-align center
	
	
	h2
		text-align left
		
	.social
		path("redes-icon.png")
		background-repeat no-repeat
		background-size 300%
		display inline-block
		height 3.9rem
		margin 1rem 0.5rem
		overflow hidden
		vertical-align middle
		width @height
		
		&-fb
			background-position bottom left
			
		&-tw
			background-position bottom center
			
		&-yt
			background-position bottom right
			
	&-2
		
		.fa
			background-color #fff
			box-shadow 0px 5px 5px 5px rgba(0, 0, 0, 0.2)
			circ(3.9rem)
			font-size 2.8rem
			margin 0 auto 2rem
			padding 0.5rem
			
			&-fb
				background-position top left
				
			&-tw
				background-position top center
				
			&-yt
				background-position top right
			


.zoomOut
	fill $AzulM
	cursor pointer

	&Text
		pointer-events none
		fill #fff

.zoomOverlay
	pointer-events all
	fill none
