path
	&.line
		fill none
		stroke-width 1px

//map
#mapa
	height 13.3rem
	width 100%

//Pie
#pie
	height 14rem
	max-width 100%
	width 100%
	
	a
		display none !important
		
	tspan
		color #fff !important
		fill #fff !important

//WordCloud
#tagCloud
	#myCanvas
		height 13.5rem
		max-width 100%
		width 100%

//graficas timeline
.axis
	path, line
		fill none
		stroke #000
		shape-rendering crispEdges
.band
	fill none
	stroke-width 1px
	stroke red


.card, .col
	transition all cubic-bezier(.95,.09,.6,.95) 1s	
	transform-origin 50% 0
	
	.close
		background none
		color $Naranja
		cursor pointer
		font-size 1.6rem
		opacity 0
		right 0.2rem
		top -0.4rem
		transitionBase(0.3s)


.card-active
	left 50%
	top @left
	
	.close
		opacity 1
		z-index 10
	
	&-cinco
		transform translate3d(-200%,-14%,0) scale(2.2)
		z-index 6
	

	&-cuatro
		transform translate3d(-200%,66%,0) scale(2.2)
		z-index 6
	

	&-dos
		transform translate3d(-100%,66%,0) scale(2.2)
		z-index 6
	
	&-tres
		transform translate3d(-100%, -14%, 0) scale(2.2)
		z-index 6

	&-uno
		transform translate3d(0, 8%, 0) scale(1.5)
		z-index 6
		
	

.container
	&:before
		background-color rgba(0, 0, 0, .75)
		bottom 0
		content ''
		left 0
		opacity 0
		pointer-events none
		position absolute
		right 0
		top 0
		transitionBase(0.3s)
		z-index 5
	
.descargar
	display block
	margin 0 auto
		

.generos
	height 100%
	// position relative
	// width 50%
	padding-bottom 36.3%
	
.gen
	display inline-block
	height 12.3rem
	margin 1rem auto 0
	position relative
	vertical-align middle
	width 13rem
	
	p
		left 50%
		margin 0
		padding 0
		position absolute
		text-align center
		top 50%
		transform translate3d(-50%, -50%, 0)
		z-index 2
	
	.mascara
		bottom 0
		height 100%
		overflow hidden
		position absolute
		transform-origin bottom center
		width 100%
		z-index 1
		
		svg
			bottom 0
			// fill $Azul
			left 0
			position absolute
			right 0
			stroke #fff
			top 0
			
	&-girl
		.mascara
		
			svg
				// fill $Naranja
				stroke #fff
				// top 12%
			
			

.graficas
	&:before
		opacity 1

.relative-cards
	margin-left auto !important
	margin-right @margin-left
	margin-top 1.5rem
	padding-bottom 33%
	position relative
	
	.uno, .dos, .tres, .cuatro, .cinco
		position absolute
		width 100%
		z-index 2
		
	.uno
		top 0
		left 0
		width 49%
		
	.dos, .tres
		top 0
		left 934.546875px
		
	
		
	.cuatro, .cinco
		top 0
		left 946.8125px
		
	.tres, .cinco
		top 281px
		

.row-numeros
	margin-bottom 1rem
	margin-top -1.1rem
	text-align center
	
	
	h2
		text-align left
		
	.social
		path("redes-icon.png")
		background-repeat no-repeat
		background-size 300%
		display inline-block
		height 3.9rem
		margin 1rem 0.5rem
		overflow hidden
		vertical-align middle
		width @height
		
		&-fb
			background-position bottom left
			
		&-tw
			background-position bottom center
			
		&-yt
			background-position bottom right
			
	&-2
		
		.fa
			background-color #fff
			box-shadow 0px 5px 5px 5px rgba(0, 0, 0, 0.2)
			circ(3.9rem)
			font-size 2.8rem
			margin 0 auto 2rem
			padding 0.5rem
			
			&-fb
				background-position top left
				
			&-tw
				background-position top center
				
			&-yt
				background-position top right
			
	.switch
		position absolute
		
		label
			.lever
				background-color rgba(255, 255, 255, 0.5)
				

		.blue-text
				
			input[type=checkbox]:checked + .lever
				background-color darken(#0d47a1,20%)
				
				&:after
					background-color darken(#0d47a1,20%)
					
		
		.light-blue-text
			input[type=checkbox]:checked + .lever
				background-color darken(#0091ea ,20%)
				
				&:after
					background-color darken(#0091ea ,20%)
				

		.red-text
				
			input[type=checkbox]:checked + .lever
				background-color darken(#b71c1c,20%)
				
				&:after
					background-color darken(#b71c1c,20%)



.title
	font-size 1.5rem
	left 0
	position absolute


.uno
	.card-action
		height 11.5rem

.zoomOut
	fill $AzulM
	cursor pointer

	&Text
		pointer-events none
		fill #fff

.zoomOverlay
	pointer-events all
	fill none
