.cyan, .deep-purple
	h1
		margin 0
		text-align center


.logo
	margin 1.5rem auto 0 3rem
	width 4.5rem
	
	&:hover
		background-color transparent
		

.left
	li
		&:hover
			background-color transparent

header
	.navbar-fixed, .blue, .cyan, .deep-purple
		height 8rem
		
		.header-search-wrapper
			margin 1.6rem auto 0 8rem
			
			i
				top 1rem
				font-size 2.4rem
			
			input.header-search-input
				height 3rem
				font-size 1.8rem
				
				&::-webkit-input-placeholder
					font-size 1.8rem
				&::-moz-placeholder
					font-size 1.8rem 
				&:-ms-input-placeholder
					font-size 1.8rem 
				&:-moz-placeholder
					font-size 1.8rem
					

				&:focus
					color $Azul !important
					

					&::-webkit-input-placeholder
						color $Azul !important
					&::-moz-placeholder
						color $Azul !important 
					&:-ms-input-placeholder
						color $Azul !important 
					&:-moz-placeholder
						color $Azul !important