@media (max-width: 1300px)
	footer 
		.paso
			.btn-floating
				height 5rem
				width @height
				
				i
					font-size 2.5rem
					line-height 4.7rem !important
			
			.disabled
				height 16px
				width @height

			.progreso
				left 0.45rem
				top 1.6rem
				
				canvas
					width 6rem
	
	header

		.navbar-fixed, .blue, .cyan, .deep-purple
			height 6rem
			
			.header-search-wrapper
				margin 0.6rem auto 0 2rem
				width calc(100% - 16rem)
				
	#analytics
		margin-bottom -0.6rem
		margin-top -1rem
		
		.card
			margin 0rem 0 1rem 0
			&-panel
				padding 0.2rem
			
			.row
				margin-bottom 0

		.l4, .l3, .l6
			input
				calc(100% - 9rem)
			
	#buscarUrl
		width auto
	
	#keyboard_parent
		clear both
		margin 30px auto
		position relative
		z-index 1

	.analytics
		&>img
			width 19rem
		
		label
			font-size 1rem
			top 1rem
			margin-left 5rem !important


		.prefix
			width 2.3rem

	.btn
		font-size 1.8rem
		height 4rem
		width 30rem
		
		&-url
			width auto
			
		
	.card-reveal
		.row
			margin-top 5rem

	.logo
		width 2.8rem

	.ingresar-url
		margin-top 10rem
	
	.marcas-sugerencias
		li
			margin-top 2rem
			figure
				max-height 4rem
				max-width @max-height
				img
					min-height 4rem
				
				.mdi-navigation-check
					font-size 2.8rem	
			.user
				font-size 1.1rem
				max-width 10rem	
	
	.mask
		.content-pant
			li
				figure
					max-width 11rem
					.mdi-navigation-check
						font-size 6.8rem

	.netbox-indicator
		.netbox
			height 5.5rem
			width @height

	.splash
		.nemo
			height 35rem
			width @height
			
		.bg-video
			height 100%
			width @height