//Posicion form//
.card-reveal
	.row
		margin-top 7rem
		
	input
		font-size 1.7rem
		
		

.lista-redes
	.card
		background-color transparent
		box-shadow none

.marcas-sugerencias
	margin-top -2rem 
	li
		cursor pointer
		display inline-block
		vertical-align middle
		margin-top 4rem
		width 20%
		
			
		figure, .user
			display inline-block
			vertical-align middle
			pointer-events none
		
		figure
			border-radius 100%
			margin 0 0.3rem
			max-height 6.6rem
			max-width @max-height
			position relative
			overflow hidden
			
			img
				min-height 6.6rem
			
			.mdi-navigation-check
				background-color rgba($Verde, .5)
				border-radius 100%
				bottom 0
				color #fff
				// display none
				font-size 4.2rem
				left 0
				// max-height 92.4%
				position absolute
				right 0
				text-align center
				top 0 
			
		.user
			color $Gris
			margin-left 0.2rem
			max-width 16rem
			word-wrap break-word
			
			span
				display block
				
			.num
				color $Azul

.netbox-indicator
	margin 1rem auto
	
	.netbox
		path("redes-icon.png")
		background-repeat no-repeat
		background-size 420%
		cursor pointer
		display inline-block
		height 6.9rem
		margin-left 0.5rem
		margin-right @margin-left
		overflow hidden
		vertical-align middle
		width @height
		
		&:nth-child(2)
			background-position 33% top			
		&:nth-child(3)
			background-position 99% top
		&:nth-child(4)
			background-position 66% top
			

		img
			opacity 0.6
			

		.marca-seleccionada
			float left
			height auto
			display inline-block
			max-width 3.5rem
			margin 0.2rem
		.netbox-fb
			width 13rem
		.netbox-ins
			width 13rem
		.netbox-tw
			width 13rem
		.netbox-yt
			width 13rem
	

