.marcas-sugerencias
	li
		cursor pointer
		display inline-block
		vertical-align middle
		width (95%/3)
		
		img
			max-width 8rem
			
		figure, .user
			display inline-block
			vertical-align middle
			pointer-events none
		
		figure
			margin 0 0.3rem
			width 5.5rem
			
		.user
			color $Gris
			margin-left 2.8rem
			

//Posicion form//
.card-reveal
	.row
		margin-top 7rem