.resultados-marcas
	centrar(1rem, 68rem)
	
	li
		display inline-block
		vertical-align middle
		width 100%/4
		
		a
			&:after
				display none !important
		

		figure, .marca
			display inline-block
			vertical-align middle
		
		figure
			margin 0 0.3rem
			width 5.5rem
			
		.marca
			color $Gris
			margin-left 0.5rem
			
		