.container
	transition all cubic-bezier(.17,.67,.83,.67) 1s

.u-absolute
	left 0
	position absolute
	top 0
	width 100% !important
	

	.card
		position initial
		
		&-action
			width 25%


.u-activo
	background-position-y bottom !important

.u-inactivo
	background-position top center
	height 4rem !important
	width @height