//Paleta de colores del proyecto

$Azul      = #2196f3
$AzulM     = #00bcd4
$AzulO     = #3949ab
$Gris      = #494949
$GrisClaro = #e6e6e6
$Morado    = #5e35b1
$Naranja   = #e65100
$Verde     = #4caf50

//Fonts
$Mono      = 'Roboto Mono',sans-serif
$Icons     = 'Material Icons'

//Font weights
$Thin      = 100
$Light     = 300
$Normal    = 400
$Bold      = 700 