if (titulo == "Home")
	header.page-topbar

		div.navbar-fixed
			nav.blue
				div.nav-wrapper

					ul.left

						li

							h1.logo
								img.responsive-img(src="images/logo-nemo.svg", alt="brm - nemo", title="brm - nemo")

					div.header-search-wrapper
						
						i.mdi-action-search
						input.header-search-input.z-depth-2.keyboard-input(type="text", name="buscador", placeholder="Escribe una marca...")


if (titulo == "Redes")
	header.page-topbar

		div.navbar-fixed
			nav.cyan
				div.nav-wrapper

					ul.left

						li

							h2.logo
								img.responsive-img(src="images/logo-nemo.svg", alt="brm - nemo", title="brm - nemo")

					div.header-search-wrapper.nombre-marca
						h1.
							{#$nombreMarca#}


					ul.right
						li
							a.waves-effect.waves-block.waves-light.toggle-fullscreen(href="#")
								i.mdi-action-settings-overscan
						li.apagar
							a(href="/"): i.mdi-action-settings-power


if (titulo == "Pantallas")
	header.page-topbar

		div.navbar-fixed
			nav.deep-purple.darken-1
				div.nav-wrapper

					ul.left

						li

							h2.logo
								img.responsive-img(src="images/logo-nemo.svg", alt="brm - nemo", title="brm - nemo")

					div.header-search-wrapper.nombre-marca
						h1.
							{#$nombreMarca#}

					ul.right
						li
							a.toggle-fullscreen(href="#")
								i.mdi-action-settings-overscan						

						li.apagar
							a(href="#"): i.mdi-action-settings-power

if (titulo == "Graficas")
	header.page-topbar

		div.navbar-fixed
			nav.blue.graphs
				div.nav-wrapper

					ul.left

						li

							h2.logo
								img.responsive-img(src="images/logo-nemo.svg", alt="brm - nemo", title="brm - nemo")

					div.header-search-wrapper.nombre-marca
						h1.
							{#$nombreMarca#}

					ul.right
						li
							a.waves-effect.waves-block.waves-light.toggle-fullscreen(href="#")
								i.mdi-action-settings-overscan
						li.apagar
							a(href="/"): i.mdi-action-settings-power

