extends partials/base.jade

block title
	-var titulo = "Graficas";
	title brm - Nemo

block content
	#contenedor-picker
	div.container
		//Graphs
		a.icon-detalle.btn-floating.btn-large.blue
			i.fa.fa-facebook
		div.row
			//Timeline Graphs
			div.col.s4.md.l6

				div.card.uno.expand
					div.card-content.waves-effect.waves-block.waves-light.cyan
						div.close
							i.fa.fa-times-circle

						div.move-up
							p.margin Crecimiento de seguidores

						div.trending-line-chart-wrapper
							//Grafica
							//- div.graph-demo
							canvas#timeline-growth-facebook(height="70")
							///-Grafica
			
			div.col.s4.md.l6

				div.card.uno.expand
					div.card-content.waves-effect.waves-block.waves-light.cyan
						div.close
							i.fa.fa-times-circle

						div.move-up
							p.margin Interacciones

						div.trending-line-chart-wrapper
							//Grafica
							//- div.graph-demo
							canvas#timeline-interact-facebook(height="70")
							///-Grafica

			
			///-Timeline Graphs
			
										
		///-Graphs
		//Top Posts
		div.row.row-posts
			h3.center-align Posts Destacados
			div.col.l4
				div.card
					figure.post
						img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12465856_769855646479811_3289013922941623977_o.jpg")

			div.col.l4
				div.card
					figure.post

						img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12465856_769855646479811_3289013922941623977_o.jpg")
					
					

			div.col.l4
				div.card
					figure.post

						img(src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12465856_769855646479811_3289013922941623977_o.jpg")
					



		///-Top Posts
				


block Scripts
	script(src='js/libs/tagcanvas.js')
	script(src='js/libs/d3.min.js')
	script(src='js/libs/chart.min.js')
	script(src='js/libs/amcharts.js')
	script(src='js/libs/pie.js')
	script(src='js/libs/datepicker.js')
	script(src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1.1","packages":["geochart"]}]}')
	script(src='js/nemo.grafica-redes.js')