extends partials/base.jade

block title
	-var titulo = "Graficas";
	title brm - Nemo

block content
	#contenedor-picker
	div.container
		//Graphs
		div.row
			//Timeline
			div.col.s4.md.l6

				div.card.uno.expand
					div.card-content.waves-effect.waves-block.waves-light.cyan
						div.close
							i.fa.fa-times-circle

						div.move-up
							p.margin Línea de tiempo

						div.trending-line-chart-wrapper
							//Grafica
							//- div.graph-demo
							canvas#timeline(height="70")
							///-Grafica
					div.card-action.waves-effect.waves-block.waves-light.white

			///-Timeline
			
			//row
			div.col.s3.m3.l3
				div.card
					div.card-content.waves-effect.waves-block.waves-light.grey.lighten-3.dos.expand
						div.close
							i.fa.fa-times-circle
						div.move-up
							p.margin WordCloud

							div#tagCloud
								//- h3.blue.waves-effect.waves-light.btn-large.title Titular
								canvas#myCanvas()
									p.
										Su navegador no soporta canvas
							div#tags(style="font-size: 20%;")
								{#foreach from=$wordCloud item=word#}
								a(href='#',style="font-size: {#$word.med#}ex;color:{#$word.color#}; ").
									{#$word.word#}
								{#/foreach#}

								//-- for (var x = 0; x < 30; x++)
								//-	a(href='#',style="font-size: {#$word.med#}ex").
								//-		#{x}

					//Mapas
					div.card-action.waves-effect.waves-block.waves-light.white.tres.expand
						p.margin Usuarios por zona
						div.close
							i.fa.fa-times-circle
						div#mapa
					///-Mapas			

			///-row
			//row
			div.col.s3.m3.l3
				div.card
					div.card-content.waves-effect.waves-block.waves-light.deep-purple.darken-1.cuatro.expand
						div.close
							i.fa.fa-times-circle
						div.move-up
							p.margin.white-text # Conversaciones por Propiedad

							div#pie

					//Géneros
					div.card-action.deep-purple.lighten-2.waves-effect.waves-block.waves-light.cinco.expand
						div.close
							i.fa.fa-times-circle
						p.margin.white-text Géneros
						
						//- div.generos
						div.gen.gen-man

							p.white-text 0%
							div.mascara
								include ../../publication/images/guy.svg
							//- div.fill

						//- div.generos
						div.gen.gen-girl
							p.white-text 0%
							div.mascara
								include ../../publication/images/girl.svg


					///-Géneros			

			///-row
		///-Graphs
		//Redes Sociales
		div.row.row-numeros.row-numeros-2
			div.col.l4
				div.card
					div.card-content.blue.darken-1

						//- div.switch
						//- 	label.blue-text.text-lighten-5 Ocultar
						//- 		input(type="checkbox", checked)
						//- 		span.lever
						//- 		| Mostrar

						i.fa.fa-facebook.blue-text
						p#total-fb 99999999

			div.col.l4
				div.card
					div.card-content.light-blue.lighten-2
						
						//- div.switch
						//- 	label.light-blue-text.text-lighten-5 Ocultar
						//- 		input(type="checkbox", checked)
						//- 		span.lever
						//- 		| Mostrar

						i.fa.fa-twitter.light-blue-text
						p#total-tw 99999999

			div.col.l4
				div.card
					div.card-content.red.darken-2
						
						//- div.switch
						//- 	label.red-text.text-lighten-5 Ocultar
						//- 		input(type="checkbox", checked)
						//- 		span.lever
						//- 		| Mostrar

						i.fa.fa-youtube.red-text
						p#tota-yt 99999999


		///-Redes Sociales

		div.row.filtros
			div.card
				//fecha inicial
				div.col.l3.date
					button.btn-floating.waves-effect.waves-light.orange.mdi-editor-insert-invitation
					span Desde
					input.datepicker(type="date")
				///-fecha inicial
				//fecha final
				div.col.l3.date
					button.btn-floating.waves-effect.waves-light.orange.mdi-editor-insert-invitation
					span Hasta
					input.datepicker(type="date")
				///-fecha final
				//dma
				div.col.l3
					a.btn.waves-effect.waves-light.light-blue.darken-4 Día
					a.btn.waves-effect.waves-light.light-blue.darken-3 Mes
					a.btn.waves-effect.waves-light.light-blue.darken-2 Año
				///-dma
				//rango
				div.col.l3.range
					p.range-field
						input.active(type="range", min="1", max="30")
				///-rango


		div.row
			div.col.l4.offset-l4
				button.valign.waves-effect.waves-light.btn.blue.descargar.
					Descargar reporte <i class="right mdi-file-cloud-download"></i>



block Scripts
	script(src='js/libs/tagcanvas.js')
	script(src='js/libs/d3.min.js')
	script(src='js/libs/chart.min.js')
	script(src='js/libs/amcharts.js')
	script(src='js/libs/pie.js')
	script(src='js/libs/datepicker.js')
	script(src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1.1","packages":["geochart"]}]}')
	script(src='js/nemo.graficas.js')