extends partials/base.jade

block title
	-var titulo = "Graficas";
	title brm - Nemo

block content
	div.container
		//Stats propiedades digitales
		//- div.row.row-numeros
		//- 	div.col.s3.m3.l3
		//- 		h2 Tus Números
		//- 	div.col.s3.m3.l3
		//- 		i.social.social-fb
		//- 		p 99999999
		//- 	div.col.s3.m3.l3
		//- 		i.social.social-tw
		//- 		p 99999999

		//- 	div.col.s3.m3.l3
		//- 		i.social.social-yt
		//- 		p 99999999

		///-Stats propiedades digitales
		//Graphs
		div.row
			//Timeline
			div.col.s4.md.l6
				div.card
					//- h3.blue.waves-effect.waves-light.btn-large.title Titular
					div.card-move-up.waves-effect.waves-block.waves-light
						div.move-up.cyan
							div
								span.chart-title.white-text Línea de tiempo			
							div.trending-line-chart-wrapper
								//Grafica
								div.graph-demo
								///-Grafica
						
					//Bottom
					div.card-content
						a.btn-floating.btn-move-up.waves-effect.waves-light.darken-2.right
							i.mdi-content-add.activator
						
						div.
							<br />

					///-Bottom
					//Filtros linea de tiempo

					div.card-reveal
						span.card-title.grey-text.text-darken-4.
							Filtros para la gráfica de linea de tiempo <i class="mdi-navigation-close right"></i>

					///-Filtros linea de tiempo

			///-Timeline
			
			//row
			div.col.s3.m3.l3
				div.card
					div.card-content.waves-effect.waves-block.waves-light.grey.lighten-3
						div.move-up
							p.margin WordCloud

							div#tagCloud
								//- h3.blue.waves-effect.waves-light.btn-large.title Titular
								canvas#myCanvas()
									p.
										Su navegador no soporta canvas
							div#tags(style="font-size: 20%;")
								//- {#foreach from=$wordCloud item=word#}
								//- a(href='#',style="font-size: {#$word.med#}ex").
								//- 	{#$word.word#}
								//- {#/foreach#}

								- for (var x = 0; x < 30; x++)
									a(href='#',style="font-size: {#$word.med#}ex").
										#{x}

					//Mapas
					div.card-action
							div#mapa
					///-Mapas			

			///-row
			//row
			div.col.s3.m3.l3
				div.card
					div.card-content.waves-effect.waves-block.waves-light.deep-purple.darken-1
						div.move-up
							p.margin.white-text # Conversaciones por Propiedad

							div#pie

					//Géneros
					div.card-action.deep-purple.lighten-2.waves-effect.waves-block.waves-light
							p.margin.white-text Géneros
							
							include ../../publication/images/guy.svg
							include ../../publication/images/girl.svg
							div.generos
								div.gen.gen-man
									div.fill

							div.generos
								div.gen.gen-girl
									div.fill


					///-Géneros			

			///-row

		

		///-Graphs
		//Redes Sociales
		div.row.row-numeros.row-numeros-2
			div.col.l4
				div.card
					div.card-content.blue.darken-1
						i.fa.fa-facebook.blue-text
						p 99999999

			div.col.l4
				div.card
					div.card-content.light-blue.lighten-2
						i.fa.fa-twitter.light-blue-text
						p 99999999

			div.col.l4
				div.card
					div.card-content.red.darken-2
						i.fa.fa-youtube.red-text
						p 99999999


		///-Redes Sociales

		div.row
			div.col.l4.offset-l4
				button.valign.waves-effect.waves-light.btn.blue.descargar.
					Descargar reporte <i class="right mdi-file-cloud-download"></i>





block Scripts
	script(src='js/libs/tagcanvas.js')
	script(src='js/libs/d3.min.js')
	script(src='js/libs/amcharts.js')
	script(src='js/libs/pie.js')
	script(src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1.1","packages":["geochart"]}]}')
	script(src='js/nemo.graficas.js')