
extends partials/base.jade

block title
	-var titulo = "Home";
	title brm - Nemo

block content
	div.container
		div.row
			div.col.s12.m12.l12
				ul.resultados-marcas
					- for (var x = 0; x < 4; x++)
						li
							a(href="#")
								figure
									img.circle.responsive-img.z-depth-1(src="images/marca-sample.png", alt="logo-sample", title="logo-sample")
								span.marca Logo Sample
				
				button.waves-effect.waves-light.btn.green.crear-marca.
					Crear marca
					<i class="right mdi-content-add"></i>


	| {#include file='keyboard.html'#}

block Scripts