
extends partials/base.jade

block title
	-var titulo = "Pantallas";
	title brm - Nemo

block content

	div.container
		div.row
			div.col.m6
				h3 oli, acá van las redes sociales

		div.row
			div.col.s12.m6.l12.push-l1

				ul.content-pant
					- for (var x = 0; x < 10; x++)
						li.
							asdasd




block Scripts