
extends partials/base.jade

block title
	-var titulo = "Pantallas";
	title brm - Nemo

block content

	div.container.web

		
		//Screens de Casper
		div.row.casper
			div.col.s12.m12.l12

				div.mask
					ul.content-pant
						{#foreach from=$images key=k item=v#}
						li.screen
							figure.z-depth-1
									span.mdi-navigation-check.hide
									img(src="search/pantallazo/{#$v.imagen#}")
								p {#$v.nombre#}
						{#/foreach#}


		///-Screens de Casper
		//Card de ingreso de sitio web
		div.row.ingresar-url.animated.hide
			div.col.s12.m12.l12
				div.card.card-panel
					div
						form(action="#")
							div.row
								div.input-field.col.l10
									input.validate.keyboard-input(type="text", placeholder="Ingresa la URL de tu sitio web")

								div.input-field.col.l2
									button.btn.green.waves-effect.waves-light.btn-url(type="submit", name="")
										i.mdi-content-send

			div.col.s3.m3.l4.offset-l4
				div.valign-wrapper

					button.valign.waves-effect.waves-light.btn.blue.continuar.continuaruno.
						Terminé <i class="right mdi-navigation-arrow-forward"></i>
		
		///-Card de ingreso de sitio web
		//Botones
		div.row.botonera
		
			div.col.s6.m6.l6
				
				button.waves-effect.waves-light.btn.green.mostrar-keyb.
					No es ninguna
					<i class="right mdi-hardware-keyboard"></i>

			div.col.s6.m6.l6
				button.valign.waves-effect.waves-light.btn.orange.darken-4.continuar.continuaruno.continuar-bottom.
					No tengo sitio web
					<i class="right mdi-content-block"></i>

		///-Botones
		//Ingreso de cuenta de analytics
		div.row.analytics.hide
			img.responsive-img(src="images/g-analytics.svg", alt="Google Analytics", title="Google Analytics")
			
			form#analytics.row
			
			
			div.row
			
				div.col.s12.m12.l12
	
	
					button.waves-effect.waves-light.btn.blue.continuar#send.
						Terminé <i class="right mdi-navigation-arrow-forward"></i>

				//button.waves-effect.waves-light.btn.orange.darken-4.continuar.
					No tengo cuenta aquí
					<i class="right mdi-navigation-close"></i>


		///-Ingreso de cuenta de analytics



	| {#include file='keyboard.html'#}



block Scripts
	script(src='js/nemo.js')
	script(src='js/nemo.ini.js')
	script(src='js/nemo.web.js')