.crear-marca, .agregar-marca, .mostrar-keyb
	display block
	margin 0 auto
	text-transform capitalize
	width 18rem
	

.agregar-marca, .mostrar-keyb, .continuar
	font-size 2.8rem
	height  6.6rem
	vertical-align middle
	// padding 0.5rem 0rem
	text-transform initial
	width 35rem
	
	i
		font-size 2rem
	
.disabled
	pointer-events none !importantg