#rango
	&::-webkit-slider-runnable-track
		height 0.25rem
		
		
	&::-webkit-slider-thumb
		height 1.8rem
		margin-top -0.8rem
		width @height
		
	&::-moz-range-track
		height 0.25rem
		
	&::-moz-range-thumb
		height 1.8rem
		width @height
		
	&::-ms-track
		height 0.25rem
	&::-ms-thumb
		height 1.8rem
		width @height

.botones-fecha

	a
		display block
		// max-width 8.8rem
		text-align center
		margin 1rem auto
	
		&.active
			background-color #26a69a !important
			cursor default
			pointer-events none
			
		&:hover
			color #fff !important

.filtros
	text-align center
	
	.col
		float none !important
		display inline-block
		vertical-align middle
		

	.date
		span
			display inline-block
			margin-left 3%
			
		.datepicker
			width 60%
		
	.l3
		width 24% !important
		
	.light-blue
		display inline-block
		margin-left 2%