footer
	centrar( 0.5rem, 30%)
	absolute bottom 0.3rem left 35%
	padding 0
	z-index -1
	
	.oculto
		color $GrisClaro
	

	.paso
		position relative
		text-align center
		
		span
			display block
			font-size 0.9rem
			margin-bottom 0.6rem
			text-align center
			
		.btn-floating
			circ(100px)			
			
			i
				font-size 3rem
				line-height 6rem !important
		

		.disabled
			background-color $Gris !important
			circ(28px)
			margin-top 4rem
			

		.progreso
			absolute top 1.4rem left 1.65rem
			
			canvas
				absolute top 0
				
			input
				display none
				

.firma
		position absolute
		bottom 0
		right 1rem
		height 75px
		width 225px