//path images
path(img)
	background-image url("../images/"+img)
	
transitionBase(tiempo)
	transition all ease-in-out tiempo

cuadrado()
	height arguments
	width arguments

circ()
	border-radius 100%
	cuadrado arguments
	
centrar(arguments, arg)
	margin arguments auto
	width arg

//Positions
-pos(type, args)
	i = 0
	position: unquote(type)
	{args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
	{args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

absolute()
	-pos('absolute', arguments)

fixed()
	-pos('fixed', arguments)
	
relative()
	-pos('relative', arguments)