<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Bienvenidos a MAGGI®</title>
  <meta name="description" content="Meta description Ready">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/maggi.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css"><!--[if lt IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body class="bg bg-home"></body>
<body></body>
<header class="container-fluid">
  <!--Wrapper login-->
  <div class="login">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-2">
        <h2>Inicio de sesión</h2>
        <form method="" class="form-login">
          <!--Usuario-->
          <div class="form-group">
            <label for="login-usuario">Usuario:</label>
            <input type="text" id="login-usuario" name="login-usuario" class="form-control">
          </div>
          <!--Contraseña-->
          <div class="form-group">
            <label for="login-password">Contraseña: </label>
            <input type="text" id="login-password" name="login-password" class="form-control">
          </div>
          <!--Recordarme-->
          <div class="checkbox">
            <label><input type="checkbox"> Recordar mi cuenta</label>
          </div>
          <input id="login-submit" type="submit" value="Ingresar" class="btn btn-warning">
          <p>
            <a href="#">¿Olvidaste tu contraseña?</a> / Eres nuevo, <a href="registro.html">regístrate</a>
            
            
          </p>
        </form>
        <button type="button" class="btn btn-warning cerrar-login"><span class="glyphicon glyphicon-chevron-up"></span></button>
      </div>
    </div>
  </div>
  <!--/-Wrapper login-->
  <!--Registro y Login-->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-lg-offset-9 col-md-offset-9 col-sm-offset-8 text-center">
      <p><a href="#">Registrarse</a> / <a href="#" class="btn-login">Iniciar Sesión</a> <span class="icon icon-profile"></span></p>
    </div>
  </div>
  <!--/-Registro y Login-->
  <!--Menu, logo y Search-->
  <div class="row">
    <!--Logo-->
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
      <h1 class="logo"><img src="images/logo-maggi.svg" alt="MAGGI" title="MAGGI" class="img-responsive"></h1>
    </div>
    <!--/-Logo-->
    <!--Menu y Buscador-->
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-6">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle button</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div id="navbar" aria-expanded="false" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active icon-menu home"><a href="index.html"><span>Home</span></a></li>
              <li class="icon-menu recetas"><a href="recetario.html"><span>Recetas</span></a></li>
              <li class="icon-menu video"><a href="video-recetas.html"><span>Video recetas</span></a></li>
              <li class="icon-menu producto"><a href="productos-promociones.html"><span>Productos y promociones</span></a></li>
              <li class="icon-menu temporada"><a href="temporadas.html"><span>Temporadas</span></a></li>
              <li class="icon-menu contacto"><a href="contacto.html"><span>Contacto</span></a></li>
            </ul>
            <!--Buscador-->
            <div class="navbar-form navbar-right">
              <form class="search-input">
                <input type="text" placeholder="Buscar" class="form-text">
              </form>
            </div>
            <!--/-Buscador-->
          </div>
        </div>
      </nav>
    </div>
    <!--/-Menu y Buscador-->
  </div>
  <!--/-Menu, logo y Search-->
  
  
  
  
  
  
</header>
<!--Slider-->
<p>tutu</p>
<!--Footer-->
<footer class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
      <p class="text-center">
        2015 MAGGI® Derechos Reservados / <a href="#">Política de Privacidad</a> | <a href="#">Aviso de Privacidad</a> | <a href="#">Política de Datos Personales </a>
        
      </p>
      <p class="text-center">
        PARA MÁS RECETAS Y SECRETOS DE COCINA, COMUNÍCATE AL CENTRO DE COCINA MAGGI® 01 8000 521 999
        
      </p>
      <p class="text-center social-links">
        <span>Síguenos en:</span>
        
        <a href="https://www.facebook.com/MaggiElSaborAColombia/" rel="nofollow" target="_blank" class="icon icon-fb"></a>
        <a href="https://www.youtube.com/user/MAGGICOLOMBIA" rel="nofollow" target="_blank" class="icon icon-yt"></a>
        
        
        
      </p>
    </div>
  </div>
</footer>
<!--/-Footer-->
<!--Scripts-->
<script src="js/libs.maggi.min.js"></script>
<script src="js/maggi.js"></script>
<script src="js/validarForm.js"></script></html>